<h1 mat-dialog-title>
  Add new user form
</h1>
<form mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>
      Full name
    </mat-label>
    <input
      matInput
      placeholder="Enter your full name"
      name="name"
      type="name"
      required
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>
      Email
    </mat-label>
    <input
      matInput
      placeholder="user@mail.com"
      name="email"
      type="email"
      required
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>
      Phone
    </mat-label>
    <input
      matInput
      placeholder="+xx (xxx) xxx xx xx"
      name="tel"
      type="tel"
      required
    />
  </mat-form-field>
  <h3 mat-dialog-title>
    Address
  </h3>
  <mat-form-field appearance="outline">
    <mat-label>
      Street
    </mat-label>
    <input
      matInput
      placeholder="Enter your street"
      name="street"
      type="text"
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>
      City
    </mat-label>
    <input
      matInput
      placeholder="Enter your city"
      name="city"
      type="text"
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>
      State
    </mat-label>
    <input
      matInput
      placeholder="Enter your state"
      name="state"
      type="text"
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>
      Country
    </mat-label>
    <input
      matInput
      placeholder="Enter your country"
      name="country"
      type="text"
    />
  </mat-form-field>
  <div mat-dialog-actions>
    <button
      mat-button
      mat-dialog-close
      type="button"
    >
      Cancel
    </button>
    <button
      mat-button
      mat-dialog-close
      type="submit"
    >
      Save
    </button>
  </div>
</form>
