<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="toolbar-icon"
    aria-label="Icon button with menu icon"
    (click)="goHome()"
  >
    <mat-icon>supervised_user_circle</mat-icon>
  </button>
  <span>Users table app [CRUD, Angular Forms, Material UI]</span>
  <span class="toolbar-spacer"></span>
  <button
    *ngIf="router.url === '/dashboard'; else editButton"
    mat-raised-button
    color="accent"
    (click)="openDialog()"
  >
    Add user
  </button>

  <ng-template #editButton>
    <button
      mat-raised-button
      color="accent"
      (click)="openEditDialog()"
    >
      Edit
    </button>
  </ng-template>
</mat-toolbar>
