.details {
  text-align: center;

  width: 50vw;
  min-width: fit-content;
  max-width: 50%;

  margin: 0 auto;
  margin-top: 16px;

  &-title {
    margin-bottom: 24px;
  }

  &-content {
    display: flex;
    justify-content: center;
  }
}
