.details {
  width: 33vw;
  min-width: fit-content;
  max-width: 40%;

  margin: 0 auto;
  margin-top: 16px;

  &-titleGroup {
    margin-bottom: 16px;
  }

  &-title {
    margin-bottom: 16px;
  }

  &-subtitle,
  &-content {
    font-size: large;
  }

  &-content > strong {
    margin-right: 10px;
  }
}
