<mat-card class="details">
  <mat-card-title-group class="details-titleGroup">
    <mat-card-title class="details-title">
      {{user?.fullname | uppercase}}
    </mat-card-title>
    <mat-card-subtitle class="details-subtitle">
      <strong>id: </strong>{{user?.id}}
    </mat-card-subtitle>
  </mat-card-title-group>

  <mat-card-content>
    <p class="details-content">
      <strong>Phone: </strong>{{user?.phone}}
    </p>
    <p class="details-content">
      <strong>Email: </strong>{{user?.email}}
    </p>
    <p class="details-content">
      <strong>Street: </strong>{{user?.address?.street}}
    </p>
    <p class="details-content">
      <strong>City: </strong>{{user?.address?.city}}
    </p>
    <p class="details-content">
      <strong>State: </strong>{{user?.address?.state}}
    </p>
    <p class="details-content">
      <strong>Country: </strong>{{user?.address?.country}}
    </p>
  </mat-card-content>
</mat-card>
