.details {
  width: fit-content;
  min-width: min-content;
  max-width: 40%;

  margin: 0 auto;
  margin-top: 16px;

  &-titleGroup {
    margin-bottom: 16px;
  }

  &-title {
    // font-size: 1.1rem;
    margin-bottom: 16px;
  }

  &-subtitle,
  &-content {
    font-size: large;
  }
}
