.details {
  width: 33vw;
  min-width: fit-content;
  max-width: 40%;

  margin: 0 auto;
  margin-top: 16px;

  &-titleGroup {
    justify-content: flex-end;
    margin-bottom: 16px;
    border-bottom: 1px solid lightgrey;
  }

  &-title {
    margin-bottom: 16px;
  }

  &-subtitle {
    text-align: right;
  }

  &-subtitle,
  &-content {
    font-size: large;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }
}
