<div class="table-container">
  <mat-form-field appearance="standard">
    <mat-label>
      Filter
    </mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. London"
      #input
    >
  </mat-form-field>

  <div class="mat-elevation-z8 table">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
    >
      <ng-container matColumnDef="id">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          ID
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          (click)="goToUserDetails(row.id)"
        >
          {{row.id}}
        </td>
      </ng-container>

      <ng-container matColumnDef="fullname">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Full name
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          (click)="goToUserDetails(row.id)"
        >
          {{row.fullname}}
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Email
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          class="mat-cell-email"
          (click)="goToUserDetails(row.id)"
        >
          {{row.email}}
        </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Phone
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          (click)="goToUserDetails(row.id)"
        >
          {{row.phone}}
        </td>
      </ng-container>

      <ng-container matColumnDef="city">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          City
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          (click)="goToUserDetails(row.id)"
        >
          {{row.address.city}}
        </td>
      </ng-container>

      <ng-container matColumnDef="country">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Country
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          (click)="goToUserDetails(row.id)"
        >
          {{row.address.country}}
        </td>
      </ng-container>

      <ng-container matColumnDef="street">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Street
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          (click)="goToUserDetails(row.id)"
        >
          {{row.address.street}}
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Action
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          (click)="deleteConfirmation(row.id)"
        >
          <button
            mat-icon-button
            color="warn"
            type="button"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="8">
          No data matching the filter "{{input.value}}"
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
      [pageIndex]="pageIndex.getValue()"
      [pageSize]="pageSize.getValue()"
      (page)="handlePaginator($event)"
    ></mat-paginator>
  </div>
</div>
